SECRET_KEY=
JWT_SECRET_KEY=
DATABASE_URL=sqlite:///censo.db
UPLOAD_FOLDER=uploads
CENSO_LUIZ_PASSWORD=
CENSO_JOSY_PASSWORD=
JWT_COOKIE_SECURE=false
POSTGRES_PASSWORD=
WEB_CONCURRENCY=2
GUNICORN_THREADS=4
CENSO_COMPLETED_PERCENT=50
